# ignore all compiled files
*.pyc

# ignore any adobe illustrator files
*.ai

# hexmap save files
*.hexmap

Python_v/~$Plans.docx

*.ui

# numpy files
*.npy

# vim swap files
*.swp

# visual studio project file
*.pyproj
*.sln

# LaTeX compilation files
*.aux
*.log
*.synctex.gz

# Compiled documentation
*.pdf

# documentation files
*.html

# visual studio stuff
.idea/*
.vs/*
MultiHex/.vs/
