# ignore all compiled files
*.pyc

# ignore any adobe illustrator files
*.ai

# hexmap save files
*.hexmap

Python_v/~$Plans.docx

*.ui

# vim swap files
*.swp

# visual studio project file
*.pyproj
*.sln

# LaTeX compilation files
*.aux
*.log
*.synctex.gz

# Compiled documentation
*.pdf
